body {
  color: #111;
  font-family: "Ubuntu";
  margin: 0; }
  body #btn-up {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #fff;
    color: #142850;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    box-shadow: 1px 1px 5px #111;
    cursor: pointer; }
    body #btn-up .fas {
      text-align: center; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0; }
  body header {
    padding: 36px; }
    body header h1 {
      font-size: 48px; }
    body header h3 {
      padding-top: 16px; }
    body header#intro {
      background-color: #142850;
      color: #fff; }
  body section {
    padding: 18px; }
    body section .heading {
      font-size: 48px;
      font-weight: 700;
      text-align: center;
      padding: 24px; }
    body section .container {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
    body section#identity {
      background-color: #dae1e7; }
      body section#identity #avatar-container {
        display: flex;
        justify-content: center;
        padding: 24px 0; }
        body section#identity #avatar-container img#avatar {
          width: 250px;
          border-radius: 50%;
          border: 12px solid #27496d; }
      body section#identity #boxes {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center; }
        body section#identity #boxes .box {
          margin: 8px;
          padding: 12px;
          width: 25%;
          background-color: #142850;
          color: #fff; }
          body section#identity #boxes .box b {
            font-weight: 700;
            font-size: 16px; }
          body section#identity #boxes .box p {
            font-family: "Open Sans";
            font-size: 16px;
            margin: 0; }
    body section#skills {
      background-color: #27496d;
      color: #fff; }
      body section#skills .skill {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 25%; }
        body section#skills .skill .skill-icon {
          padding: 16px;
          width: 100px;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          justify-self: center;
          border-radius: 50%;
          font-size: 64px;
          border: 10px solid #fff;
          color: #fff; }
          body section#skills .skill .skill-icon:hover {
            background: #fff;
            color: #27496d; }
        body section#skills .skill .skill-label {
          text-align: center;
          width: 100%;
          padding-top: 12px;
          padding-bottom: 32px;
          font-size: 20px; }
    body section#education {
      background-color: #dae1e7; }
      body section#education .container #bar-main {
        margin-top: 30px;
        background: #142850;
        height: 10px;
        width: 100%; }
      body section#education .container #bar-node-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%; }
        body section#education .container #bar-node-container .bar-node {
          width: 24%;
          margin-top: 50px;
          margin-left: 10px;
          margin-bottom: 20px; }
          body section#education .container #bar-node-container .bar-node:before {
            margin-left: -10px;
            height: 100px;
            width: 2.5px;
            content: "";
            background-color: #142850;
            position: absolute;
            margin-top: -50px; }
    body section#portfolio {
      background-color: #142850;
      color: #fff; }
      body section#portfolio .container {
        width: 100%; }
        body section#portfolio .container .port-container {
          width: 25%;
          cursor: pointer; }
          body section#portfolio .container .port-container:hover {
            background-color: #fff;
            color: #111; }
            body section#portfolio .container .port-container:hover .port-img img {
              border-color: #142850; }
          body section#portfolio .container .port-container .port-img {
            padding: 24px; }
            body section#portfolio .container .port-container .port-img img {
              width: 100%;
              border: 5px solid #fff; }
          body section#portfolio .container .port-container .port-caption {
            padding: 0 24px;
            padding-bottom: 24px;
            text-align: center; }
    body section#contact {
      background-color: #00909e;
      color: #fff; }
      body section#contact .container a {
        width: 25%;
        text-decoration: none;
        color: #fff; }
        body section#contact .container a:hover {
          background-color: #fff;
          color: #111; }
        body section#contact .container a .cont-container {
          padding: 24px;
          text-align: center; }
          body section#contact .container a .cont-container .cont-icon {
            font-size: 48px;
            padding-bottom: 16px; }
          body section#contact .container a .cont-container .cont-name {
            font-weight: 700;
            font-size: 20px; }

/*# sourceMappingURL=style.css.map */
